.vanity_bar {
  background-color: transparent;
}

.bar_center {
  min-height: 25px;
}

.bar_segment {
  opacity: 0.6;
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #{"@window_bg_color"};
}

.ws_button {
  transition:
    min-width 0.5s,
    background-color 0.5s;
  min-height: 15px;
  min-width: 15px;
  border-radius: 15px;
  background-color: transparent;

  border: 2px solid #{"@card_fg_color"};

  &.occupied {
    background-color: #{"@card_fg_color"};
  }

  &.focused {
    min-width: 30px;
    border-radius: 15px;
  }
}