.vanity_bar {
  background-color: transparent;
}

.bar_center {
  min-height: 25px;
}

.bar_segment {
  opacity: 0.6;
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #{"@theme_bg_color"};
}

.focused {
  color: #{"@theme_selected_bg_color"};
}