@use "colors";

.vanity_menu {
  min-width: 750px;
  border-radius: 25px;
  background-color: colors.$window_bg_color_60_transparent;

  &.sidecar {
    min-width: 500px;
  }
}

.menu_segment {
  background-color: colors.$window_bg_color_90_transparent;
}