@use "colors";

.vanity_menu {
  min-width: 500px;
  border-radius: 25px;
  background-color: colors.$window_bg_color_60_transparent;
}

.menu_segment {
  border-radius: 25px;
  background-color: #{"@window_bg_color"};
  padding: 5px;
  opacity: 0.9;
}

.navigate_block {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.menu_selector {
  button {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #{"@card_bg_color"};
  }

  .split_button_left {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
  }

  .split_button_right {
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  &.active {
    button {
      background-color: #{"@accent_bg_color"};
      color: #{"@accent_fg_color"};

      &:hover {
        background-color: color-mix(in srgb, #{"@accent_bg_color"} 90%, #{"@accent_fg_color"});
      }
    }

    separator {
      background-color: color-mix(in srgb, #{"@accent_bg_color"} 90%, #{"@accent_fg_color"});
    }
  }
}

.audio_default {
  background-color: color-mix(in srgb, #{"@window_bg_color"} 90%, #{"@accent_bg_color"});
}

.system_controls {
  padding: 5px;

  button {
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #{"@card_bg_color"};
    transition: background-color 0.5s linear 0s;
    transition: color 0.5s linear 0s;

    &.confirm {
      background-color: #{"@accent_bg_color"};
      color: #{"@accent_fg_color"};

      &:hover {
        background-color: color-mix(in srgb, #{"@accent_bg_color"} 90%, #{"@accent_fg_color"});
      }
    }
  }
}