.weather_icon {
  min-height: 150px;
  min-width: 150px;

  .day {
    color: #{"@card_fg_color"};
  }
  .night {
    color: color-mix(in srgb, #{"@card_fg_color"} 60%, #{"@card_bg_color"});
  }
}

.weather_temp_max {
  color: color-mix(in srgb, #{"@card_fg_color"} 60%, #ed8796);
}

.weather_temp_min {
  color: color-mix(in srgb, #{"@card_fg_color"} 60%, #8aadf4);
}
