.weather_icon {
  min-height: 200px;
  min-width: 200px;
}

.weather_forecast_icon {
  min-height: 100px;
  min-width: 100px;

  .day {
    color: #{"@card_fg_color"};
  }

  .night {
    color: color-mix(in srgb, #{"@card_fg_color"} 60%, #{"@card_bg_color"});
  }
}

.weather_temp_max {
  color: color-mix(in srgb, #{"@card_fg_color"} 60%, #ed8796);
}

.weather_temp_min {
  color: color-mix(in srgb, #{"@card_fg_color"} 60%, #8aadf4);
}