@use "bar";
@use "menu";
@use "osd";
@use "player";

* {
  font-family: "FiraCode Nerd Font";
}

button {
  background-color: transparent;

  &:hover {
    color: #{"@accent_bg_color"};
  }
}

label {
  font-weight: bold;
}